@use "../utils/" as u;

.painting {
  margin: u.rem(24);
  display: block;
  width: 100%;
  margin: 5% auto;
  &__container {
    display: block;
    position: relative;
    width: 49%;
    margin: 0 0 2%;
    background: #999;
    height: 300px;
    float: left;
    clear: left;
  }

  // &__tint {
  //   position: absolute;
  //   height: u.rem(170);
  //   width: 100%;
  //   background: linear-gradient(
  //     180deg,
  //     rgba(0, 0, 0, 0.0001) 0%,
  //     rgba(0, 0, 0, 0.841672) 100%
  //   );
  //   bottom: 0;
  // }

  &__text {
    position: absolute;
    color: white;
    bottom: 0;
    padding: 0 u.rem(60) u.rem(32) u.rem(32);
  }

  &__name {
    font-weight: 700;
    font-size: u.rem(24);
    line-height: u.rem(30);
    color: var(--white);
  }

  &__author {
    font-weight: 400;
    font-size: u.rem(13);
    line-height: u.rem(16);
    color: rgba($color: white, $alpha: 0.75);
    margin-block-start: u.rem(7);
  }
}
