@use "../utils/" as u;

.slider {
  width: 100%;
  padding-block-start: 30%;
  &__bar {
    width: 100%;
    height: 1px;
    background-color: var(--light-grey);
  }

  &__track {
    // width set inline
    height: 1px;
    background-color: var(--black);
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: u.rem(16) u.rem(24);
  }

  &__name {
    font-weight: 700;
    font-size: u.rem(14);
    line-height: u.rem(17);

    color: var(--black);
  }

  &__artist {
    font-weight: 400;
    font-size: u.rem(10);
    line-height: u.rem(12);
    color: var(--black);
    mix-blend-mode: normal;
    opacity: 0.75;
    margin-block-start: u.rem(9);
  }

  &__buttons {
    display: flex;
    gap: u.rem(23);
  }

  &__button {
    width: 17px;
    height: 16px;
    background-color: transparent;
    border: none;
    background-size: cover;

    &:disabled {
      opacity: 0.15;
    }
  }

  &__prev {
    background-image: url(/assets/shared/icon-back-button.svg);
  }

  &__next {
    background-image: url(/assets/shared/icon-next-button.svg);
  }
}
