@use "../utils/" as u;

.slideshow {
  padding-block-start: u.rem(24);

  @include u.breakpoint(medium) {
    padding-block-start: u.rem(40);
  }

  @include u.breakpoint(xlarge) {
    padding-block-start: u.rem(100);
  }

  &__wrapper {
    margin-inline: u.rem(24);

    @include u.breakpoint(medium) {
      margin-inline: u.rem(40);
    }

    @include u.breakpoint(xlarge) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__painting {
    position: absolute;
    z-index: -1;
    width: u.rem(327);
    height: u.rem(280);

    @include u.breakpoint(medium) {
      width: u.rem(475);
      height: u.rem(560);
    }
  }

  &__button {
    font-family: "Libre Baskerville";
    font-weight: 700;
    font-size: u.rem(10);
    line-height: u.rem(12);
    text-align: right;
    letter-spacing: u.rem(2.14286);
    color: var(--white);
    text-transform: uppercase;
    border: none;
    background-color: rgba(0, 0, 0, 0.75);
    mix-blend-mode: normal;
    padding: u.rem(14) u.rem(16) u.rem(13) u.rem(42);
    background-image: url(/assets/shared/icon-view-image.svg);
    background-repeat: no-repeat;
    background-position: 10% 45%;
    margin: u.rem(16);

    @include u.breakpoint(medium) {
      position: relative;
      bottom: calc(-504px + 16px);
    }
  }

  &__name-and-artist {
    background-color: var(--white);
    margin-block-start: u.rem(174);
    width: u.rem(280);
    padding: u.rem(24);

    @include u.breakpoint(medium) {
      margin-block-start: -71px;
      margin-inline-start: auto;
      width: u.rem(445);
      padding: 0;
      padding-block-end: u.rem(67);
      padding-inline-start: u.rem(65);
    }

    @include u.breakpoint(xlarge) {
      margin-inline-start: u.rem(410);
    }
  }

  &__name {
    font-weight: 700;
    font-size: u.rem(24);
    line-height: u.rem(29);
    color: var(--black);

    @include u.breakpoint(medium) {
      font-size: u.rem(56);
      line-height: u.rem(64);
      width: 90%;
    }
  }

  &__artist {
    font-weight: 400;
    font-size: u.rem(15);
    line-height: u.rem(19);
    color: var(--grey);
    margin-block-start: u.rem(8);

    @include u.breakpoint(medium) {
      margin-block-start: u.rem(24);
    }
  }

  &__artist-photo {
    width: u.rem(64);
    height: u.rem(64);
    // margin in figma - padding of slideshow
    margin-inline-start: u.rem(16);

    @include u.breakpoint(medium) {
      width: u.rem(128);
      height: u.rem(128);
      margin-inline-start: auto;
      margin-inline-end: u.rem(55);
    }
    @include u.breakpoint(xlarge) {
      margin-block-start: u.rem(258);
      margin-inline-start: u.rem(505);
    }
  }

  &__age {
    font-weight: 700;
    font-size: u.rem(100);
    line-height: 1;
    text-align: right;
    margin-block-start: u.rem(-20);
    color: var(--cream);

    @include u.breakpoint(medium) {
      text-align: start;
      margin-block-start: u.rem(194);
      font-size: u.rem(200);
      line-height: u.rem(150);
    }

    @include u.breakpoint(xlarge) {
      margin-block-start: 0;
    }
  }

  &__para {
    font-weight: 700;
    font-size: u.rem(14);
    line-height: u.rem(28);
    margin-block-start: u.rem(-26);
    color: var(--grey);
    @include u.breakpoint(medium) {
      width: u.rem(457);
      margin-inline: auto;
    }

    @include u.breakpoint(xlarge) {
      margin: 0;
      text-align: start;
      width: u.rem(350);
      margin-block-start: u.rem(-35);
    }
  }

  &__source {
    display: block;
    font-weight: 700;
    font-size: u.rem(9);
    line-height: u.rem(11);
    letter-spacing: u.rem(1.92857);
    text-decoration-line: underline;
    text-transform: uppercase;
    color: var(--grey);
    margin-block-start: u.rem(40);

    @include u.breakpoint(medium) {
      // margin in figma - padding of slideshow
      margin-inline-start: u.rem(115);
    }
    @include u.breakpoint(xlarge) {
      text-align: start;
      margin: 0;
      margin-block-start: u.rem(81);
    }
  }
}
