@use "../utils/" as u;

.slider {
  width: 100%;
  position: absolute;
  bottom: 0;

  @include u.breakpoint(xlarge) {
    max-width: u.rem(1440);
    margin-inline: auto;
  }

  &__bar {
    width: 100%;
    height: 1px;
    background-color: var(--light-grey);
  }

  &__track {
    // width set inline
    height: 1px;
    background-color: var(--black);
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: u.rem(16) u.rem(24);

    @include u.breakpoint(medium) {
      padding: u.rem(25) u.rem(40);
    }
  }

  &__name {
    font-weight: 700;
    font-size: u.rem(14);
    line-height: u.rem(17);
    color: var(--black);

    @include u.breakpoint(medium) {
      font-size: u.rem(18);
      line-height: u.rem(22);
    }
  }

  &__artist {
    font-weight: 400;
    font-size: u.rem(10);
    line-height: u.rem(12);
    color: var(--black);
    mix-blend-mode: normal;
    opacity: 0.75;
    margin-block-start: u.rem(9);
    @include u.breakpoint(medium) {
      font-size: u.rem(13);
      line-height: u.rem(16);
    }
  }

  &__buttons {
    display: flex;
    gap: u.rem(23);
  }

  &__button {
    width: 17px;
    height: 16px;
    background-color: transparent;
    border: none;
    background-size: cover;

    &:hover {
      cursor: pointer;
      opacity: 0.5;
    }

    &:disabled {
      opacity: 0.15;
    }

    @include u.breakpoint(medium) {
      width: u.rem(25);
      height: u.rem(24);
    }
  }

  &__prev {
    background-image: url(/assets/shared/icon-back-button.svg);
  }

  &__next {
    background-image: url(/assets/shared/icon-next-button.svg);
  }
}
